[submodule "lib/Ashtree"]
	path = lib/Ashtree
	url = git@github.com:AshtreeCC/Ashtree.git
[submodule "plugins/jquery.anymenu"]
	path = plugins/jquery.anymenu
	url = git@github.com:AshtreeCC/jquery.anymenu.git
[submodule "plugins/jquery.modal"]
	path = plugins/jquery.modal
	url = git@github.com:AshtreeCC/jquery.modal.git
[submodule "plugins/google.analytics"]
	path = plugins/google.analytics
	url = git@github.com:AshtreeCC/google.analytics.git
[submodule "plugins/google.maps"]
	path = plugins/google.maps
	url = git@github.com:AshtreeCC/google.maps.git
[submodule "plugins/google.qaptcha"]
	path = plugins/google.qaptcha
	url = git@github.com:AshtreeCC/jquery.qaptcha.git
[submodule "plugins/jquery.wysiwyg"]
	path = plugins/jquery.wysiwyg
	url = git@github.com:AshtreeCC/jquery.wysiwyg.git
[submodule "plugins/wireframe.security"]
	path = plugins/wireframe.security
	url = git@github.com:AshtreeCC/wireframe.security.git
[submodule "lib/PHPMailer"]
	path = lib/PHPMailer
	url = git@github.com:PHPMailer/PHPMailer.git
[submodule "lib/TinyMCE"]
	path = lib/TinyMCE
	url = git@github.com:tinymce/tinymce-dist.git
